<html>
<head>
  <style type="text/css">

    body {  background-color:#EFD28D; 
            font-family : Arial, Helvetica, sans-serif;
            font-size : 12px;
          }
    h1 {  color: #A30000; padding: 14px;}
    h2 {  color:#FF7700; padding: 12px;}
 </style>
  <title>Mes supers utilitaires pour Alteca</title></head>
<body>
  <h1>Mon super site Alteca (titre principal)</h1>
  <p><h2>on est dans layout avant le block content</h2> </p>
  {% block content %}{% endblock %}
  <p><h2>on est dans layout après le block content</h2></p>
  <footer>(c) Alteca Dream Team/footer  </footer>
</body></html>