<!--f214_premier_formulaire.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Premier formulaire</title>
</head>

<body>
    <form action="f214_destination_premier_formulaire.html" method="get">
        <div>
          <label for="name">Nom:</label> <input type="text" id="name" name="user_name">
        </div>
        <div>
          <label for="mail">Prénom:</label> <input type="text" id="surname" name="user_surname">
        </div>
        <div>
          <label for="msg">Message:</label> <textarea id="msg" name="user_message"></textarea>
        </div>
        <div class="button">
          <button type="submit">Envoyez votre message</button>
        </div>
    </form>
</body>

</html>
