{% block content %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Page pas trouvée</title> 
</head>
<body>
  <h1>Page pas trouvée</h1>
  <p>Généralement, le code 404 est affiché lorsque le contenu d’une page web a été supprimé ou transféré sur une autre URL. Les raisons qui suivent peuvent également être la cause de ce message d’erreur :

    L’URL, ou son contenu dans le cas échéant (données ou images), ont été supprimés ou externalisés (sans que les liens internes du site Web aient été modifiés) ;
    L’URL est défectueuse (inattention lors de la création ou lors de la re-conception), elle comprend un faux lien ou bien elle a été mal saisie dans la barre de navigation ;
    Le serveur Web correspondant au site Web n’est pas opérationnel ou la connexion a été interrompue ;
    Le nom de domaine du site visité ne peut pas être converti en une adresse IP dans le système de noms de domaines ;
    Le nom de domaine n’existe plus.
    Il arrive souvent que les liens morts restent sur le site car les administrateurs des pages Web concernées ne savent pas que le contenu des liens a été- supprimé ou déplacé. Ceci concerne avant tout les moteurs de recherche, car ils affichent régulièrement dans les résultats de recherche des sites Web qui ne sont plus disponibles en ligne (du moins pas avec l’URL indiqué). Ce cas de figure est fréquent avec les liens menant à des blogs ou des portails d’information, entre autres. Comme les administrateurs de sites Web ne vérifient pas systématiquement les liens externes, les liens morts ne sont pas toujours identifiés.
    
    Comment corriger des erreurs 404 : que faire en tant que visiteur ?
    Se retrouver confronté à une erreur 404 est rarement source de satisfaction. Une telle erreur entraîne l’indisponibilité du contenu souhaité. La source de l’erreur peut parfois être trouvée très rapidement. Mais comment résoudre une erreur 404 ? Essayez les différentes approches ci-dessous dans l’ordre indiqué :
    
    Rafraichir la page Web : il est possible que l’erreur 404 survienne car la page Web n’a pas été réellement été chargée. Vous pouvez effectuer cette vérification très simplement en utilisant le bouton « rafraichir la page » de votre navigateur Internet ou via la touche F5 sur PC.
    </p>
</body>
</html>
{% endblock %}